.btn,.btn_dis{
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FFDAB9;
    color: #0F2E3F;
    border: 1px solid #FFDAB9;
    margin: 10px;
    width: fit-content;
}

.btn_dis{
    background-color: #ffdab962;
    border: 1px solid #ffdab955;
}

.btn_cntr{
    display: flex;
    justify-content: space-between;
}

.box_cntr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    font-family: inherit;
}