<div>
    <p>Pizzas: {{order.pizzas}}</p>
    <p>Kunde: {{order.customer}}</p>
    <p>Preis: {{order.total_price}} €</p>
    <p>Datum: {{order.get_parsed_date}}, {{order.time}}</p>
    <div>
        <button onclick="deleteHandler('{{order.customer}}', '{{order.date}}','{{order.time}}')" >Löschen</button>
    </div>
</div>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function deleteHandler(customer, date, time) {
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            url: '{{url}}/orders/',
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            data: JSON.stringify({
                customer: customer,
                date: date,
                time: time
            }),
            success: function(response) {
                location.reload();
                console.log(response);
            }
        });
    }
    </script>
{% endblock javascript %}